.passa__tempo{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    
}
.passa__tempo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.passa__tempo-quadro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.passa__tempo-img{
    width: 176px;
    height: 174px;
    padding: 16px;
}
@media (max-width: 870px) {
    .passa__tempo{
        width: 100%;
        padding: 12px 111px;
        gap: 32px;
        justify-content: center; 
    }
    .passa__tempo-quadro {
        display: grid;
        gap: 2%;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
    }
    .passa__tempo img {
        width: 85%;
        height: 174px;
    }
}
@media (max-width: 505px) {
     .passa__tempo-quadro{
        grid-template-columns: repeat(2, 1fr);
     }
     .passa__tempo img {
        width: 156px;
        height: 118px;
        padding: 16px;
    }
}